@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hidden .invisible {
        display: none;
    }

    .visible {
        display: block;
    }

    .transition-transform {
        transition: transform 0.5s ease-in-out;
    }


    #notification {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 9999; /* Ensures it appears on top of other content */
    }

}
